/* Blank Page Protocol */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

/* First Section */

a {
  text-decoration: none;
}

body,
html {
  height: 100%;
  overscroll-behavior-y: none;
  overflow-x: hidden;
}

.first-sect {
  height: 50vw;
  width: 100vw;
  background-size: cover;
  background-image: url(./pexels-fauxels-3184465.jpg);
}

.first-sect-nav {
  display: flex;
  width: 90vw;
  margin-inline: auto;
}

.nav {
  width: 55%;
  height: 8vw;
  display: flex;
  align-items: center;
  margin: 0 12vw 0 auto;
}

.logo-a {
  height: 10vw;
  top: -0.5vw;
  left: 20vw;
  position: relative;
  z-index: 2;
}

.logo {
  border: 0.025vw solid #707070;
  height: 100%;
  display: flex;
  top: -0.5vw;
  left: 20vw;
  background-color: #ffff;
}

.categories-img-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 0 1vw 2.2vw;
}

.categories-img-titles ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: fit-content;
}

.categories-img-titles li {
  list-style: none;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 5vw;
  cursor: pointer;
}

.categories-img-titles img {
  cursor: pointer;
  height: auto;
  position: relative;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  top: 1.25vw;
}

.red-line {
  width: 0;
  height: 0.1vw;
  display: block;
  background-color: #ec1d23;
  margin: auto auto 0.3rem auto;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.categories-img-titles h5 {
  font-size: 0.9vw;
  font-weight: 600;
  color: #707070;
  cursor: pointer;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.nav-right {
  display: flex;
  width: 40vw;
  align-items: center;
  position: relative;
}

.vl {
  border-left: 0.5px solid #707070;
  height: 2.5vw;
  margin: auto 2.5vw;
}

.inventaire {
  margin-right: 2.5vw;
  display: flex;
  font-size: 1.25vw;
  align-items: center;
  font-weight: 400;
  color: #707070;
  height: fit-content;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.inventaire:hover {
  cursor: pointer;
  color: #ec1d23;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropbtn img {
  height: 1vw;
  margin-top: 0.2vw;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -4.25vw;
  background-color: #fff;
  width: 10vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.4vw;
  cursor: pointer;
}

.dropdown-active {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -4.25vw;
  background-color: #fff;
  width: 10vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.4vw;
  cursor: pointer;
}

.dropdown-content a {
  color: #707070;
  padding: 1vw 0;
  text-decoration: none;
  justify-content: center;
  display: flex;
  border-radius: 0.4vw;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: rgb(236, 29, 35);
}

/* Demande de crédit */

.credit-total-cont {
  height: 40vw;
  width: 100vw;
  margin: 12vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.credit-cont {
  height: 90%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-credit-cont {
  height: 25vw;
  width: fit-content;
}

.img-credit-cont img {
  height: 100%;
}

.red-line-border {
  background-color: #ec1d23;
  height: 15vw;
  width: 0.15vw;
}

.text-credit-cont {
  height: 65%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-credit-cont h2 {
  font-size: 2.75vw;
  font-weight: 400;
  margin-bottom: 2vw;
  color: #313639;
}

.text-credit-cont p {
  line-height: 1.6vw;
  color: #737373;
  font-size: 1vw;
}

.bold {
  font-weight: 700;
}

.red-text {
  color: #ec1d23;
  font-weight: 600;
}

.btn-credit {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  background: linear-gradient(
    90deg,
    rgba(237, 29, 36, 1) 0%,
    rgba(195, 0, 7, 1) 100%
  );
  border: 0.08vw solid #707070;
  -moz-transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -13px;
  border-radius: 0.25vw;
  width: 30vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  margin-top: 2vw;
}

.btn-credit:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.62) 0px 25px 27px -13px;
}

/* Contact Form*/

.form-cont {
  height: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-cont-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-cont h1 {
  color: #62656a;
  font-size: 2.3vw;
  font-weight: 700;
  line-height: 3.75vw;
  letter-spacing: 0.35vw;
  text-align: center;
  text-transform: uppercase;
  width: 75%;
}

.container-div {
  display: flex;
  width: 65%;
}

.right-text-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-div button {
  overflow: visible;
}

.container-div button,
.container-div select {
  text-transform: none;
}

.container-div button,
.container-div input,
.container-div select,
.container-div textarea {
  color: #5a5a5a;
  font: inherit;
  margin: 0;
}

.container-div input {
  line-height: normal;
}

.container-div textarea {
  overflow: auto;
}

#container {
  width: 100%;
  position: relative;
  height: fit-content;
}

#container-two {
  width: 100%;
  position: relative;
  height: fit-content;
}

.container-div form {
  padding: 2.5vw;
  margin: 3.2vw 0;
}

.underline {
  border-bottom: solid 2px #62656a;
  margin: 2.25vw auto;
  width: 11vw;
}

.email {
  float: right;
  width: 45%;
}

.container-div input[type="text"],
.container-div [type="email"],
.container-div select,
.container-div textarea {
  background: none;
  border: none;
  border-bottom: solid 0.1vw #62656a;
  color: #ec1d23;
  font-size: 1vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
  margin: 0 0 1.4vw 0;
  padding: 0 0 0.65vw 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.container-div input[type="text"]:focus,
.container-div [type="email"]:focus,
.container-div textarea:focus {
  outline: none;
  padding: 0 0 0.65vw 0;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}

.container-div select {
  background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png")
    no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.container-div select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

.container-div textarea {
  line-height: 150%;
  height: 8vw;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #71747a;
}

:-moz-placeholder {
  color: #71747a;
  opacity: 1;
}

::-moz-placeholder {
  color: #71747a;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #71747a;
}

#form_button {
  background: none;
  border: solid 0.15vw #ec1d23;
  border-radius: 0.15vw;
  color: #ec1d23;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9vw;
  font-weight: bold;
  outline: none;
  padding: 1vw 1.75vw;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 1.3vw;
}

#form_button:hover {
  background: #ec1d23;
  color: #f2f3eb;
}

/* Fourth Section */

.fourth-sect {
  height: 67vw;
  background: url(./redMapSquare.jpg);
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
}

.no-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
  margin-inline: auto;
  justify-content: center;
}

.fourth-sect-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: hsl(0, 0%, 92%);
  font-size: 1vw;
}

.fourth-sect-title {
  margin-bottom: 5vw;
  font-size: 3.75vw;
  color: hsl(0, 0%, 92%);
}

#map {
  font-size: 3vw;
  color: hsl(0, 0%, 92%);
}

#clock {
  font-size: 3vw;
  color: hsl(0, 0%, 44%);
}

.fourth-sect-p-adresse {
  width: 100%;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0, 0%, 44%, 0.65);
}

.fourth-sect-p-horaire {
  width: 100%;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(195, 15%, 98%, 0.65);
}

.fourth-sect-p-horaire ul {
  color: hsl(0, 0%, 44%);
  list-style: none;
  margin-top: 2vw;
}

.fourth-sect-p-horaire li {
  margin-top: 0.175vw;
}

.map-div {
  width: 100%;
  height: 30vw;
}

.map {
  height: 100%;
  width: 100%;
  border: none;
}

.fourth-sect-p-adresse h4 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  background: linear-gradient(
    90deg,
    rgba(237, 29, 36, 1) 0%,
    rgba(195, 0, 7, 1) 100%
  );
  border: 1.3px solid #707070;
  -moz-transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -13px;
  border-radius: 0.3vw;
  width: 10vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  margin: 1.8vw auto 0 auto;
}

.fourth-sect-p-adresse h4:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.62) 0px 25px 27px -13px;
}

.fourth-sect-p-adresse p {
  margin-top: 2vw;
}

.fourth-sect-p-adresse a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.fourth-sect-p-adresse img {
  margin-bottom: 0.1rem;
}

/* Footer */

.footer {
  position: relative;
  top: 0;
  height: 32vw;
  background-color: #707070;
  background-size: cover;
  overflow: hidden;
}

.footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.footer-maindiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-div {
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
}

.footer-img {
  height: 5vw;
  align-self: center;
}

.footer h1 {
  color: rgb(255, 255, 255);
  padding-top: 2vw;
  font-size: 1.6vw;
}

.footer ul {
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
}

.footer li {
  color: rgb(255, 255, 255);
  list-style: none;
  margin-bottom: 0.4vw;
  font-size: 0.9vw;
  cursor: pointer;
  margin-left: 0.25vw;
  line-height: 1.4vw;
  width: 14vw;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer li:hover {
  color: rgb(236, 29, 35);
}

.footer a {
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer a:hover {
  color: rgb(236, 29, 35);
}

.footer-btn {
  width: 85%;
  margin-inline: auto;
  margin-top: 1.75vw;
  display: flex;
  justify-content: center;
}

.footer-btn a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  background: linear-gradient(
    90deg,
    rgba(237, 29, 36, 1) 0%,
    rgba(195, 0, 7, 1) 100%
  );
  border: 1.6px solid #707070;
  -moz-transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -13px;
  width: 22vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4vw;
  font-size: 1.4vw;
}

.footer-btn a:hover {
  background-color: rgb(236, 29, 35);
  color: hsl(0, 0%, 99%);
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.62) 0px 25px 27px -13px;
}

@media screen and (max-width: 1440px) {
  .first-sect {
    height: 60vw;
  }
  .nav {
    width: 60%;
    height: 10vw;
  }
  .logo-a {
    height: 12vw;
    left: 14vw;
  }
  .logo {
    border: 0.06vw solid #707070;
  }
  .categories-img-titles {
    margin: 0 0 0 4vw;
  }
  .categories-img-titles li {
    width: 6.25vw;
  }
  .categories-img-titles h5 {
    font-size: 1.2vw;
  }
  .nav-right {
    margin-top: 0.5vw;
    width: fit-content;
  }
  .vl {
    border-left: 0.1vw solid #707070;
    height: 3vw;
    margin: auto 3.5vw auto 2vw;
  }
  .inventaire {
    margin-right: 3.5vw;
    font-size: 1.75vw;
  }
  .dropbtn img {
    height: 1.5vw;
    margin-top: 0.25vw;
  }
  .dropdown-content {
    top: 3vw;
    right: -6vw;
    width: 14vw;
    z-index: 15;
  }
  .dropdown-content a {
    padding: 1.5vw 0;
    font-size: 1.2vw;
  }
  .credit-total-cont {
    height: 65vw;
    margin: 0;
  }
  .credit-cont {
    height: 45%;
    margin: 10vw 0 4vw 0;
  }
  .img-credit-cont {
    width: 45%;
    height: auto;
    margin: 0 auto;
  }
  .img-credit-cont img {
    height: fit-content;
    width: 100%;
  }
  .red-line-border {
    height: 17vw;
  }
  .text-credit-cont {
    width: 45%;
    height: fit-content;
    align-items: center;
  }
  .text-credit-cont h2 {
    font-size: 3vw;
    width: 75%;
  }
  .text-credit-cont p {
    line-height: 1.75vw;
    font-size: 1.1vw;
    width: 75%;
  }
  .btn-credit {
    border: 0.1vw solid #707070;
    border-radius: 0.5vw;
    width: 32vw;
    height: 3.5vw;
    font-size: 1.6vw;
    margin-top: 2vw;
  }
  .form-cont {
    height: 65vw;
  }
  .title-cont h1 {
    font-size: 2.5vw;
    line-height: 4vw;
    letter-spacing: 0.5vw;
  }
  .container-div {
    width: 75%;
  }
  .underline {
    border-bottom: solid 0.2vw #62656a;
    margin: 2.5vw auto;
    width: 12vw;
  }
  .container-div input[type="text"],
  .container-div [type="email"],
  .container-div select,
  .container-div textarea {
    font-size: 1.2vw;
    letter-spacing: 0.15vw;
    margin: 0 0 1.75vw 0;
    padding: 0 0 0.8vw 0;
  }
  .container-div input[type="text"]:focus,
  .container-div [type="email"]:focus,
  .container-div textarea:focus {
    padding: 0 0 0.8vw 0;
  }
  .container-div textarea {
    line-height: 170%;
    height: 13vw;
  }
  #form_button {
    border: solid 0.2vw #ec1d23;
    border-radius: 0.3vw;
    font-size: 1.1vw;
    margin-top: 1.5vw;
  }
  .fourth-sect-text {
    font-size: 1.3vw;
  }
  .fourth-sect-title {
    margin-bottom: 6vw;
    font-size: 4.5vw;
  }
  #map {
    font-size: 3.5vw;
  }
  #clock {
    font-size: 3.5vw;
  }
  .fourth-sect-p-adresse {
    height: 35vw;
  }
  .fourth-sect-p-horaire {
    height: 35vw;
  }
  .fourth-sect-p-horaire li {
    margin-top: 0.4vw;
  }
  .map-div {
    height: 35vw;
  }
  .fourth-sect-p-adresse h4 {
    width: 13vw;
    height: 3.75vw;
    font-size: 1.5vw;
    margin: 2vw auto 0 auto;
  }
  .footer {
    height: 39vw;
  }
  .footer-div {
    margin-top: 7vw;
  }
  .footer-img {
    height: 6.5vw;
  }
  .footer h1 {
    font-size: 1.9vw;
  }
  .footer ul {
    margin-top: 1.25vw;
  }
  .footer li {
    margin-bottom: 1vw;
    font-size: 1.25vw;
    line-height: 1.75vw;
    width: 16vw;
  }
  .footer-btn a {
    width: 25vw;
    height: 4.5vw;
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 1350px) {
  .first-sect {
    height: 75vw;
    background-size: cover;
  }
}

@media screen and (max-width: 1024px) {
  .first-sect {
    height: 85vw;
    background-position: -20vw;
  }
  .nav {
    height: 12vw;
  }
  .logo-a {
    height: 14vw;
    left: 11vw;
  }
  .logo {
    border: 0.08vw solid #707070;
  }
  .categories-img-titles {
    margin: 0 0 0 3vw;
  }
  .categories-img-titles li {
    width: 7vw;
  }
  .categories-img-titles h5 {
    font-size: 1.5vw;
  }
  .nav-right {
    margin-top: 0.75vw;
  }
  .vl {
    border-left: 0.125vw solid #707070;
    height: 3.5vw;
    margin: auto 3.5vw auto 2.5vw;
  }
  .inventaire {
    font-size: 2vw;
  }
  .dropbtn img {
    height: 1.8vw;
  }
  .dropdown-content {
    right: -6.25vw;
    width: 15vw;
  }
  .dropdown-content a {
    font-size: 1.4vw;
  }
  .credit-total-cont {
    height: 70vw;
  }
  .credit-cont {
    margin: 0 0 4vw 0;
  }
  .img-credit-cont {
    width: 43%;
  }
  .red-line-border {
    height: 18vw;
  }
  .text-credit-cont {
    width: 47%;
  }
  .text-credit-cont h2 {
    font-size: 3.4vw;
    width: 80%;
  }
  .text-credit-cont p {
    line-height: 1.85vw;
    font-size: 1.3vw;
    width: 80%;
  }
  .btn-credit {
    border: 0.15vw solid #707070;
    border-radius: 0.5vw;
    width: 35vw;
    height: 4.5vw;
    font-size: 2vw;
    margin-top: 1vw;
  }
  .form-cont {
    height: 85vw;
  }
  .title-cont h1 {
    font-size: 2.9vw;
    line-height: 4.25vw;
    letter-spacing: 0.7vw;
    width: 80%;
  }
  .container-div {
    width: 80%;
  }
  .underline {
    margin: 3vw auto;
  }
  .container-div input[type="text"],
  .container-div [type="email"],
  .container-div select,
  .container-div textarea {
    font-size: 1.5vw;
    letter-spacing: 0.25vw;
    margin: 0 0 2.5vw 0;
    padding: 0 0 1vw 0;
  }
  .container-div input[type="text"]:focus,
  .container-div [type="email"]:focus,
  .container-div textarea:focus {
    padding: 0 0 1vw 0;
  }
  .container-div textarea {
    line-height: 175%;
    height: 17vw;
  }
  #form_button {
    border: solid 0.25vw #ec1d23;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    padding: 1.5vw 2vw;
    margin-top: 2vw;
  }
  .fourth-sect {
    height: 87vw;
  }
  .fourth-sect-text {
    font-size: 1.6vw;
  }
  .fourth-sect-title {
    margin-bottom: 6.5vw;
    font-size: 5.5vw;
  }
  #map {
    font-size: 5vw;
  }
  #clock {
    font-size: 5vw;
  }
  .fourth-sect-p-adresse {
    height: 40vw;
  }
  .fourth-sect-p-adresse p {
    width: 80%;
    margin: 2vw auto 0 auto;
  }
  .fourth-sect-p-horaire {
    height: 40vw;
  }
  .fourth-sect-p-horaire li {
    margin-top: 0.5vw;
  }
  .map-div {
    height: 40vw;
  }
  .fourth-sect-p-adresse h4 {
    width: 15vw;
    height: 4.25vw;
    font-size: 1.8vw;
    border-width: 0.15vw;
    margin: 2vw auto 0 auto;
  }
  .footer {
    height: 45vw;
  }
  .footer-div {
    margin-top: 8vw;
  }
  .footer-img {
    height: 8vw;
  }
  .footer h1 {
    font-size: 2.2vw;
  }
  .footer ul {
    margin-top: 1.5vw;
  }
  .footer li {
    margin-bottom: 1vw;
    font-size: 1.5vw;
    line-height: 2vw;
    width: 19vw;
  }
  .footer-btn a {
    width: 29vw;
    height: 5vw;
    font-size: 1.8vw;
    border-width: 0.15vw;
  }
}

@media screen and (max-width: 768px) {
  .first-sect {
    height: 110vw;
    background-position: -40vw;
  }
  .nav {
    height: 14vw;
  }
  .logo-a {
    height: 19vw;
    left: 2vw;
  }
  .logo {
    border: 0.1vw solid #707070;
  }
  .categories-img-titles {
    margin: 0;
  }
  .categories-img-titles img {
    top: 2vw;
  }
  .categories-img-titles li {
    width: 10vw;
  }
  .categories-img-titles h5 {
    font-size: 2vw;
  }
  .nav-right {
    margin-top: 2vw;
    width: 30%;
  }
  .vl {
    border-left: 0.15vw solid #707070;
    height: 3.75vw;
    margin: auto 3vw auto 2vw;
  }
  .inventaire {
    font-size: 2.75vw;
  }
  .dropbtn img {
    top: 0.1vw;
    position: relative;
    height: 2vw;
  }
  .dropdown-content {
    right: -7.6vw;
    top: 4vw;
    border-radius: 0.8vw;
    width: 18vw;
  }
  .dropdown-content a {
    font-size: 1.75vw;
    padding: 1.9vw 0;
  }
  .credit-total-cont {
    height: 150vw;
  }
  .credit-cont {
    margin: 0 0 4vw 0;
    flex-direction: column;
    height: fit-content;
  }
  .img-credit-cont {
    width: 60%;
  }
  .red-line-border {
    width: 23vw;
    height: 0.15vw;
    margin: 9vw 0;
  }
  .text-credit-cont {
    width: 75%;
  }
  .text-credit-cont h2 {
    font-size: 4.5vw;
    text-align: center;
    margin-bottom: 3.5vw;
  }
  .text-credit-cont p {
    line-height: 3vw;
    font-size: 2.1vw;
    width: 100%;
    text-align: center;
  }
  .btn-credit {
    border: 0.25vw solid #707070;
    border-radius: 0.5vw;
    width: 43vw;
    height: 5.5vw;
    font-size: 2.5vw;
  }
  .form-cont {
    height: 100vw;
  }
  .title-cont h1 {
    font-size: 3.75vw;
    line-height: 5vw;
    letter-spacing: 0.75vw;
  }
  .underline {
    margin: 3.5vw auto;
  }
  .container-div input[type="text"],
  .container-div [type="email"],
  .container-div select,
  .container-div textarea {
    font-size: 1.8vw;
    letter-spacing: 0.4vw;
    margin: 0 0 2.75vw 0;
    padding: 0 0 1.25vw 0;
  }
  .container-div input[type="text"]:focus,
  .container-div [type="email"]:focus,
  .container-div textarea:focus {
    padding: 0 0 1.25vw 0;
  }
  .container-div textarea {
    height: 20vw;
  }
  #form_button {
    border: solid 0.35vw #ec1d23;
    border-radius: 0.75vw;
    font-size: 1.85vw;
    margin-top: 2.5vw;
  }
  .fourth-sect {
    height: 100vw;
  }
  .fourth-sect-text {
    font-size: 1.85vw;
  }
  .fourth-sect-title {
    margin-bottom: 7vw;
    font-size: 7vw;
  }
  #map {
    font-size: 6vw;
  }
  #clock {
    font-size: 6vw;
  }
  .fourth-sect-p-adresse {
    height: 45vw;
  }
  .fourth-sect-p-adresse p {
    width: 85%;
    margin: 2vw auto 0 auto;
  }
  .fourth-sect-p-horaire {
    height: 45vw;
  }
  .fourth-sect-p-horaire li {
    margin-top: 0.5vw;
  }
  .map-div {
    height: 45vw;
  }
  .fourth-sect-p-adresse h4 {
    width: 18vw;
    height: 4.75vw;
    font-size: 2vw;
    border-radius: 0.75vw;
    border-width: 0.25vw;
    margin: 2vw auto 0 auto;
  }
  .footer {
    height: 53vw;
  }
  .footer-div {
    margin-top: 10vw;
  }
  .footer-img {
    height: 9vw;
  }
  .footer h1 {
    font-size: 2.5vw;
  }
  .footer ul {
    margin-top: 1.75vw;
  }
  .footer li {
    margin-bottom: 1.25vw;
    font-size: 1.75vw;
    line-height: 2.5vw;
    width: 22vw;
  }
  .footer-btn a {
    width: 32vw;
    height: 6vw;
    font-size: 2.1vw;
    border-width: 0.25vw;
    border-radius: 1vw;
  }
}

@media screen and (max-width: 550px) {
  .first-sect {
    height: 155vw;
    background-position: -90vw;
  }
  .nav {
    height: 18vw;
    width: 70%;
  }
  .logo-a {
    height: 20vw;
    left: 0;
  }
  .logo {
    border: 0.15vw solid #707070;
  }
  .categories-img-titles img {
    top: 2.5vw;
  }
  .categories-img-titles li {
    width: 12vw;
  }
  .categories-img-titles h5 {
    font-size: 2.5vw;
  }
  .nav-right {
    width: 10%;
    top: 0.5vw;
  }
  .vl {
    height: 5vw;
    margin: auto 7vw auto 3vw;
  }
  .inventaire {
    display: none;
  }
  .dropbtn img {
    height: 2.75vw;
    top: 0.2vw;
  }
  .dropdown-content {
    right: 0;
    top: 5vw;
    border-radius: 1vw;
    width: 26vw;
  }
  .dropdown-content a {
    font-size: 2.75vw;
    padding: 2.75vw 0;
  }
  .credit-total-cont {
    height: 200vw;
  }
  .credit-cont {
    margin: 0 0 6vw 0;
  }
  .img-credit-cont {
    width: 75%;
  }
  .red-line-border {
    width: 30vw;
    height: 0.25vw;
    margin: 12vw 0;
  }
  .text-credit-cont {
    width: 80%;
  }
  .text-credit-cont h2 {
    font-size: 5.5vw;
    margin-bottom: 4.5vw;
  }
  .text-credit-cont p {
    line-height: 4.5vw;
    font-size: 2.5vw;
  }
  .btn-credit {
    border: 0.35vw solid #707070;
    border-radius: 0.7vw;
    width: 49vw;
    height: 7vw;
    font-size: 3vw;
  }
  .form-cont {
    height: 115vw;
  }
  .title-cont h1 {
    font-size: 4.25vw;
    line-height: 6vw;
    letter-spacing: 0.9vw;
  }
  .underline {
    margin: 5vw auto;
    width: 20vw;
  }
  .container-div input[type="text"],
  .container-div [type="email"],
  .container-div select,
  .container-div textarea {
    font-size: 2.25vw;
    letter-spacing: 0.55vw;
    margin: 0 0 3vw 0;
    padding: 0 0 1.5vw 0;
  }
  .container-div input[type="text"]:focus,
  .container-div [type="email"]:focus,
  .container-div textarea:focus {
    padding: 0 0 1.5vw 0;
  }
  .container-div textarea {
    height: 23vw;
  }
  #form_button {
    border: solid 0.4vw #ec1d23;
    border-radius: 0.9vw;
    font-size: 2.5vw;
    margin-top: 2.75vw;
  }
  .fourth-sect {
    height: 130vw;
  }
  .fourth-sect-text {
    font-size: 2.3vw;
  }
  .fourth-sect-title {
    margin-bottom: 9vw;
    font-size: 8.5vw;
  }
  #map {
    font-size: 7vw;
  }
  #clock {
    font-size: 7vw;
  }
  .fourth-sect-p-adresse {
    height: 55vw;
  }
  .fourth-sect-p-adresse p {
    width: 90%;
    margin: 3vw auto 0 auto;
  }
  .fourth-sect-p-horaire {
    height: 55vw;
  }
  .fourth-sect-p-horaire ul {
    margin: 3vw 0 0 0;
  }
  .fourth-sect-p-horaire li {
    margin-top: 0.5vw;
  }
  .map-div {
    height: 55vw;
  }
  .fourth-sect-p-adresse h4 {
    width: 18vw;
    height: 4.75vw;
    font-size: 2vw;
    border-radius: 0.75vw;
    border-width: 0.25vw;
    margin: 2vw auto 0 auto;
  }
  .footer {
    height: 60vw;
  }
  .footer-div {
    margin-top: 12vw;
  }
  .footer-img {
    height: 10vw;
  }
  .footer h1 {
    font-size: 2.75vw;
  }
  .footer ul {
    margin-top: 2vw;
  }
  .footer li {
    margin-bottom: 1.5vw;
    font-size: 2vw;
    line-height: 2.7vw;
  }
  #adresse-remove {
    display: none;
  }
  .footer-btn a {
    width: 43vw;
    height: 7.5vw;
    font-size: 2.75vw;
    border-width: 0.4vw;
  }
}

@media screen and (max-width: 425px) {
  .first-sect {
    height: 190vw;
    background-position: -120vw;
  }
  .nav {
    height: 19vw;
  }
  .logo-a {
    height: 22vw;
    left: -2vw;
  }
  .logo {
    border: 0.2vw solid #707070;
  }
  .categories-img-titles img {
    top: 2.85vw;
  }
  .categories-img-titles li {
    width: 14vw;
  }
  .categories-img-titles h5 {
    font-size: 2.8vw;
  }
  .nav-right {
    width: 5%;
  }
  .vl {
    height: 6vw;
    margin: auto 5vw auto 5vw;
  }
  .dropbtn img {
    height: 3.25vw;
  }
  .dropdown-content {
    top: 6vw;
    border-radius: 1.5vw;
  }
  .dropdown-content a {
    font-size: 2.8vw;
  }
  .credit-total-cont {
    height: 220vw;
  }
  .credit-cont {
    margin: 0 0 5vw 0;
  }
  .img-credit-cont {
    width: 80%;
  }
  .red-line-border {
    width: 35vw;
    height: 0.4vw;
    margin: 13vw 0;
  }
  .text-credit-cont {
    width: 85%;
  }
  .text-credit-cont h2 {
    font-size: 7vw;
    margin-bottom: 5vw;
  }
  .text-credit-cont p {
    line-height: 5vw;
    font-size: 2.75vw;
  }
  .btn-credit {
    border: 0.5vw solid #707070;
    border-radius: 0.9vw;
    width: 55vw;
    height: 8.5vw;
    font-size: 3.5vw;
  }
  .form-cont {
    height: 170vw;
  }
  .title-cont h1 {
    font-size: 5vw;
    line-height: 7vw;
    width: 82%;
    letter-spacing: 1.2vw;
  }
  .container-div {
    width: 90%;
  }
  .underline {
    margin: 7vw auto;
    width: 25vw;
    border-bottom: solid 0.3vw #62656a;
  }
  .container-div input[type="text"],
  .container-div [type="email"],
  .container-div select,
  .container-div textarea {
    font-size: 2.5vw;
    margin: 0 0 4vw 0;
    padding: 0 0 2.5vw 0;
  }
  .container-div input[type="text"]:focus,
  .container-div [type="email"]:focus,
  .container-div textarea:focus {
    padding: 0 0 2.5vw 0;
  }
  .container-div textarea {
    height: 27vw;
  }
  #form_button {
    border: solid 0.5vw #ec1d23;
    border-radius: 1vw;
    font-size: 3vw;
    margin-top: 3.5vw;
  }
  .fourth-sect {
    height: 150vw;
  }
  .fourth-sect-text {
    font-size: 2.75vw;
  }
  .fourth-sect-title {
    margin-bottom: 12vw;
    font-size: 9vw;
  }
  #map {
    font-size: 7.5vw;
  }
  #clock {
    font-size: 7.5vw;
  }
  .fourth-sect-p-adresse {
    height: 60vw;
  }
  .fourth-sect-p-horaire {
    height: 60vw;
  }
  .map-div {
    height: 60vw;
  }
  .fourth-sect-p-adresse h4 {
    width: 20vw;
    height: 6vw;
    font-size: 2.75vw;
    border-radius: 1vw;
    border-width: 0.5vw;
    margin: 2.5vw auto 0 auto;
  }
  .footer {
    height: 70vw;
  }
  .footer-div {
    margin-top: 15vw;
  }
  .footer-img {
    height: 12vw;
  }
  .footer h1 {
    font-size: 3.25vw;
  }
  .footer ul {
    margin-top: 2.25vw;
  }
  .footer li {
    margin-bottom: 1.5vw;
    font-size: 2.25vw;
    line-height: 3vw;
  }
  .footer-btn a {
    width: 48vw;
    height: 9vw;
    font-size: 3vw;
    border-width: 0.5vw;
  }
}

@media screen and (max-width: 375px) {
  .first-sect {
    height: 200vw;
  }
  .nav {
    height: 21vw;
  }
  .logo-a {
    height: 24vw;
    left: -2.25vw;
  }
  .logo {
    border: 0.25vw solid #707070;
  }
  .categories-img-titles li {
    width: 14vw;
  }
  .categories-img-titles h5 {
    font-size: 3.25vw;
  }
  .nav-right {
    width: 0;
  }
  .vl {
    height: 7.5vw;
    margin: auto 4vw auto 4vw;
  }
  .dropbtn img {
    height: 4vw;
  }
  .dropdown-content {
    top: 7vw;
    width: 31vw;
    border-radius: 1.75vw;
  }
  .dropdown-content a {
    padding-bottom: 4.5vw;
    font-size: 3vw;
  }
  .credit-total-cont {
    height: 240vw;
  }
  .credit-cont {
    margin: 0 0 6vw 0;
  }
  .img-credit-cont {
    width: 85%;
  }
  .red-line-border {
    width: 40vw;
    margin: 18vw 0;
  }
  .text-credit-cont {
    width: 90%;
  }
  .text-credit-cont h2 {
    font-size: 7.25vw;
    margin-bottom: 6vw;
  }
  .text-credit-cont p {
    line-height: 6vw;
    font-size: 3.2vw;
  }
  .btn-credit {
    border-radius: 1vw;
    width: 65vw;
    height: 9.5vw;
    font-size: 4vw;
  }
  .form-cont {
    height: 205vw;
  }
  .title-cont h1 {
    font-size: 5.5vw;
    line-height: 8vw;
    width: 90%;
    letter-spacing: 1.25vw;
  }
  .container-div {
    width: 95%;
  }
  .underline {
    margin: 9vw auto;
    width: 28vw;
    border-bottom: solid 0.35vw #62656a;
  }
  .container-div input[type="text"],
  .container-div [type="email"],
  .container-div select,
  .container-div textarea {
    font-size: 3vw;
    margin: 0 0 5vw 0;
    padding: 0 0 3vw 0;
    border-bottom: solid 0.35vw #62656a;
  }
  .container-div input[type="text"]:focus,
  .container-div [type="email"]:focus,
  .container-div textarea:focus {
    padding: 0 0 3vw 0;
  }
  .container-div textarea {
    height: 30vw;
  }
  #form_button {
    border: solid 0.7vw #ec1d23;
    border-radius: 1.5vw;
    font-size: 4vw;
    margin-top: 5vw;
  }
  .fourth-sect {
    height: 275vw;
  }
  .fourth-sect-text {
    font-size: 3.5vw;
    height: fit-content;
    flex-direction: column;
  }
  .fourth-sect-title {
    margin-bottom: 15vw;
    font-size: 10vw;
  }
  #map {
    font-size: 10vw;
  }
  #clock {
    font-size: 10vw;
  }
  .fourth-sect-p-adresse {
    height: 55vw;
  }
  .fourth-sect-p-horaire {
    height: 55vw;
  }
  .map-div {
    height: 55vw;
  }
  .fourth-sect-p-adresse h4 {
    width: 25vw;
    height: 7.75vw;
    font-size: 3.2vw;
    border-radius: 1.25vw;
    border-width: 0.75vw;
    margin: 3vw auto 0 auto;
  }
  .footer {
    height: 85vw;
  }
  .footer-div {
    margin-top: 20vw;
  }
  .footer-img {
    height: 13vw;
  }
  .footer h1 {
    font-size: 3.2vw;
  }
  .footer li {
    margin-bottom: 1.7vw;
    font-size: 2.3vw;
    line-height: 3.25vw;
  }
  .footer-btn a {
    width: 52vw;
    height: 10vw;
    font-size: 3.4vw;
    border-width: 0.6vw;
  }
}

@media screen and (max-width: 320px) {
  .first-sect {
    height: 240vw;
  }
  .nav {
    height: 23vw;
  }
  .logo-a {
    height: 27vw;
    left: -2.75vw;
  }
  .logo {
    border: 0.3vw solid #707070;
  }
  .dropdown-content {
    top: 7.5vw;
    width: 33vw;
  }
  .dropdown-content a {
    font-size: 3.25vw;
  }
  .fourth-sect {
    height: 320vw;
  }
  .fourth-sect-text {
    font-size: 4vw;
  }
  .fourth-sect-title {
    margin-bottom: 17vw;
    font-size: 10.5vw;
  }
  .fourth-sect-p-adresse {
    height: 65vw;
  }
  .fourth-sect-p-horaire {
    height: 65vw;
  }
  .map-div {
    height: 65vw;
  }
  .fourth-sect-p-adresse h4 {
    width: 30vw;
    height: 9vw;
    font-size: 4vw;
    border-radius: 1.5vw;
    margin: 4vw auto 0 auto;
  }
  .footer {
    height: 95vw;
  }
  .footer-div {
    margin-top: 22vw;
  }
  .footer h1 {
    font-size: 3.25vw;
  }
  .footer li {
    margin-bottom: 1.9vw;
    width: 23vw;
    font-size: 2.75vw;
    line-height: 3.75vw;
  }
  .footer-btn a {
    width: 58vw;
    height: 11vw;
    font-size: 3.75vw;
    border-width: 0.75vw;
    margin-top: 4vw;
    border-radius: 1.75vw;
  }
}
