/* Blank Page Protocol */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

/* First Section */

a {
  text-decoration: none;
}

body,
html {
  height: 100%;
  overscroll-behavior-y: none;
  background-color: hsl(0, 0%, 80%);
}

.first-sect {
  display: block;
  height: 90vh;
  background-color: hsl(0, 0%, 93%);
}

.bg-img-financement {
  background-image: url(./inventaire-cover.jpg);
  height: 105%;
  background-size: cover;
}

.first-sect-nav {
  display: flex;
  width: 90%;
  margin-inline: auto;
}

.nav {
  width: 55%;
  height: 10rem;
  display: flex;
  margin: 0 auto 0 25.5rem;
}

.logo {
  border: 0.5px solid #707070;
  padding: 1rem 1rem;
  position: relative;
  height: 10%;
  width: 10%;
  display: flex;
  left: 25.5rem;
  top: -0.1rem;
  background-color: #ffff;
  z-index: 2;
}

.categories-img-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: 3rem;
}

.categories-img-titles ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: fit-content;
}

.categories-img-titles li {
  list-style: none;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 6rem;
  cursor: pointer;
}

.categories-img-titles img {
  cursor: pointer;
  height: 6rem;
  position: relative;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  top: 1rem;
}

.red-line {
  width: 0;
  height: 2px;
  display: block;
  background-color: #ec1d23;
  margin: auto auto 0.3rem auto;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.categories-img-titles h5 {
  font-size: 1.15rem;
  font-weight: 600;
  color: #707070;
  cursor: pointer;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.nav-right {
  display: flex;
  width: 50rem;
  align-items: center;
  position: relative;
  top: 1rem;
}

.vl {
  border-left: 0.5px solid #707070;
  height: 3rem;
  margin: auto 3rem;
}

.inventaire {
  margin-right: 3rem;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #707070;
  height: fit-content;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.inventaire:hover {
  cursor: pointer;
  color: #ec1d23;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropbtn img {
  height: 1.3rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0rem;
  background-color: #fff;
  min-width: 12rem;
  width: 12rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dropdown-content a {
  color: #707070;
  padding: 1.2rem 1rem;
  text-decoration: none;
  padding-left: 20%;
  display: block;
  border-radius: 0.5rem;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: rgb(236, 29, 35);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Inventaire */

.inventaire-cont {
  height: 100vh;
  width: 100%;
}

.inventaire-title-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.inventaire-title-cont h1 {
  margin-bottom: 7rem;
  font-size: 5rem;
  color: #313639;
}

.inventaire-div {
  height: 80%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.message-inventaire {
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.65rem;
  color: #ec1d23;
  height: 8rem;
  width: 55rem;
  border: 3px solid #ec1d23;
  background-color: hsl(0, 0%, 93%);
  margin-bottom: 6rem;
}

/* Fourth Section */

.fourth-sect {
  height: 85rem;
  background: url(./redMapSquare.jpg);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.no-map {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
  margin-inline: auto;
  justify-content: center;
}

.fourth-sect-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: hsl(0, 0%, 92%);
  font-size: 1.3rem;
}

.fourth-sect-title {
  margin-bottom: 7rem;
  font-size: 5rem;
  color: hsl(0, 0%, 92%);
}

#map {
  font-size: 4rem;
  color: hsl(0, 0%, 92%);
}

#clock {
  font-size: 4rem;
  color: hsl(0, 0%, 44%);
}

.fourth-sect-p-adresse {
  width: 100%;
  height: 37rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0, 0%, 44%, 0.65);
}

.fourth-sect-p-horaire {
  width: 100%;
  height: 37rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(195, 15%, 98%, 0.65);
}

.fourth-sect-p-horaire ul {
  color: hsl(0, 0%, 44%);
  list-style: none;
  margin-top: 3rem;
}

.fourth-sect-p-horaire li {
  margin-top: 0.25rem;
}

.map-div {
  width: 100%;
  height: 100%;
}

.map {
  height: 100%;
  width: 100%;
  border: none;
}

.fourth-sect-p-adresse h4 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  background: linear-gradient(
    90deg,
    rgba(237, 29, 36, 1) 0%,
    rgba(195, 0, 7, 1) 100%
  );
  border: 1.3px solid #707070;
  -moz-transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -13px;
  border-radius: 3px;
  width: 13rem;
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  margin: 2.75rem auto 4.25rem auto;
}

.fourth-sect-p-adresse h4:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.62) 0px 25px 27px -13px;
}

.fourth-sect-p-adresse p {
  margin-top: 3rem;
}

.fourth-sect-p-adresse a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.fourth-sect-p-adresse img {
  margin-bottom: 0.1rem;
}

.fourth-sect-text img {
  width: 3.5rem;
}

/* Footer */

.footer {
  position: relative;
  top: 0;
  height: 60%;
  background-color: #707070;
  background-size: cover;
  overflow: hidden;
}

.footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.footer-maindiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-inline: 5rem;
  margin-top: 2rem;
}

.footer-div {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.footer-img {
  height: 6.5rem;
  align-self: center;
}

.footer h1 {
  color: rgb(255, 255, 255);
  padding-top: 3rem;
}

.footer ul {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.footer li {
  color: rgb(255, 255, 255);
  list-style: none;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  margin-left: 4px;
  line-height: 1.8rem;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer li:hover {
  color: rgb(236, 29, 35);
}

.footer a {
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer a:hover {
  color: rgb(236, 29, 35);
}

.footer-btn {
  width: 85%;
  margin-inline: auto;
  margin-top: 2.3rem;
  display: flex;
  justify-content: center;
}

.footer-btn a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  background: linear-gradient(
    90deg,
    rgba(237, 29, 36, 1) 0%,
    rgba(195, 0, 7, 1) 100%
  );
  border: 1.6px solid #707070;
  -moz-transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -13px;
  width: 28rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5.5px;
  font-size: 1.8rem;
}

.footer-btn a:hover {
  background-color: rgb(236, 29, 35);
  color: hsl(0, 0%, 99%);
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.62) 0px 25px 27px -13px;
}
